.table-row {
    display:flex;
    justify-content: center;
    /* margin-top: 50px; */
    border: 1px solid grey;
    margin: auto;
    /* border-radius: 30px; */
    background-color: white;
    height: 21vw;
}

.post-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2vw;
    height: 100%;
}

.votes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dog-paw-image-up {
    height: 45px;
    width: 45px;
    margin: none;
    cursor: pointer;
    margin-right:10px;
    transition: all 0.3s ease-in-out;
}
.dog-paw-image-up:hover {
    transform: scale(0.8);
  }

  .dog-paw-image-down {
    height: 70px;
    width: 70px;
    margin: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dog-paw-image-down:hover {
    transform: scale(0.8);
  }