.table-row {
    display:flex;
    justify-content: center;
    border: 1px solid grey;
    margin: auto;
    background-color: white;
    height: 21vw;
    width: 100%;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    height: 100%;
    width: 100%;
}

.votes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dog-paw-image-up {
    height: 45px;
    width: 45px;
    margin: none;
    cursor: pointer;
    margin-right:10px;
    transition: all 0.3s ease-in-out;
}
.dog-paw-image-up:hover {
    transform: scale(0.8);
  }

  .dog-paw-image-down {
    height: 70px;
    width: 70px;
    margin: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dog-paw-image-down:hover {
    transform: scale(0.8);
  }

.profile-page-container {
    width: 100%;
    height: 50%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.profile-page-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.profile-button-container {
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.profile-edit-button {
    margin-top: 2vw;
    margin-right: 2vw;
    background-color: rgba(241,73,68,255);
    border: none;
    border-radius: 30px;
    height: 5vh;
    width: 20%;
    opacity: 1;
    font-weight: bold;
    color: white;
    font-size: large;
}



.follow-search-bar-form {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    margin-bottom: 2vh;

}
.follow-search-bar-input {
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    box-sizing:border-box;
    padding-left: 1.5rem;
    border: none;
}

.search-icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }

  .timeline-tweet-container {
    width: 100%; /* Set a fixed width or use a percentage */
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .description-button {
    margin-top: 2vw;
    margin-right: 2vw;
    background-color: rgba(241,73,68,255);
    border: none;
    border-radius: 30px;
    height: 5vh;
    width: 40%;
    opacity: 1;
    font-weight: bold;
    color: white;
    font-size: large;
  }

  .descript-form-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .description-label-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description-post-input {
    width: 50%;
    height: 80%;
    margin-right: 5%;
  }
.descript-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
}
.description-text {
    margin-right: 5%;
}

@media (min-width: 768) {
    .profile-page-container {
        height: 500px;
    }
}